body{
    background: url("https://static.vecteezy.com/system/resources/thumbnails/002/960/590/small/abstract-watercolor-texture-wallpaper-background-free-vector.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1{
    color: chartreuse;
}
img{
    width: 400px;
}

.divClass{
    margin: auto;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: red ;
    padding: 50px;
    border-radius: 2px black;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}